:root {
  --color-primary: #1a4d2e;
  --color-secondary: #ff9f29;
  --color-tertiary: #FAF3E3;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  

}

body {
  background-color: var(--color-primary);
  color: #000;
  font-family: Poppins, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

nav a{ 
    transition: 300ms ease all;
    color: #000;
    text-decoration: none;
}

a{
  text-decoration: none;
  color: #000;
}


a:hover{
    color: var(--color-tertiary);
    transition: 1.0s ease-out;
    margin-top: 0.20rem;
    
}

a:active{
    color:var(--color-tertiary);
    transition: 1.0s ease-out;

}

#others{
  margin-top: 2rem;
  display: flex;
  gap: 7rem;
  justify-content: flex-start;
  
}

#button1{
  padding: 0.6rem;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}





video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.6;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    

}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-secondary);
    mix-blend-mode: overlay;
}

#pound{
  font-weight: 400;
}



nav.display{
  display: none;
}


ul, li{
    list-style: none;
    display: flex;
    gap:1.6rem;

}


div.others{
  display: flex;
  justify-content:start;
  transition: 1.0s ease-out;
  margin-top: 4rem;
}



h1, h2, h3, h4, h5, h6, a {
font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 1rem;
}



.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#first-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#first-nav nav ul li a{
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}



img#image1 {
  width: 80px;
  border-radius: 12px;
  filter: brightness(0.3);
  transition: 0.5s ease-in-out;
  transition-delay: 0.7s;

}

#image1:hover {
  filter: brightness(0.9);
  box-shadow: 0px 0px 20px #000;
  transform: scale(1.1);
  transition-delay: 2.7s;
  transition: 1.5s ease-in-out;
  transform-origin: 120% 50%;
  transition-duration: 1.5s;


}


.para p{
    background-color: var(--color-secondary);
    transition: 1.0s ease-out;
    padding: 2rem;
    border-radius: 16px;
    margin-top: 9rem;
    
}

.para p:hover{
    background-color: var(--color-tertiary);
    transition: 1.0s ease-in;
    padding: 2rem;
    border-radius: 16px;
    margin-top: 9rem;
    
}

